<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/something.css"/>
  <title>Instagram SMS</title>
</head>
<body bgcolor="#ffffff">

<form action="/setup" method="POST">
<div align="center"><p style="margin-top:70px;margin-bottom:30px;">
 <font size="6" color="#003366" ><strong>Welcome to Instagram SMS</strong></font><br><p>
  <font color="#4C4646" style="font-weight:600"> User ID:</font><br>
  <input type="text" name="ds"><br><p>
  <font color="#4C4646" style="font-weight:600"> Session ID:</font><br>
  <input type="text" name="session"><br><p>
  <font color="#4C4646" style="font-weight:600">CSRF:</font><br>
  <input type="text" name="csrf"><br><p>
  <font color="#4C4646" style="font-weight:600">Phone Number:</font><br>
  <input type="text" name="number"><br><p>
  <input type="submit" value="Submit">
</div>
</form>
  </body>
</html>