<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/something.css"/>
  <title>Instagram SMS</title>
</head>
<body bgcolor="#ffffff">
<h1>Congratulations! Instagram SMS set up successfully!</h1>
</body>
</html>